h1 {
    color: lightsalmon !important;
}
h2 {
    color: lightskyblue !important;
}
table {
    color: white !important;
}
table tr:nth-child(odd) td {  
    background-color: black !important;  
  }
table tr:nth-child(even) td {  
    background-color: #444444 !important;  
  }
body {
    color: white !important;
    background-color: black !important;
}
.border rounded p-3 m-5 bg-light {
    color: black !important;
}