h1 {
    color: lightsalmon !important;
}
h2 {
    color: lightskyblue !important;
}
table {
    color: white !important;
}
table tr:nth-child(odd) td {  
    background-color: #EAF6FD;  
  }
table tr:nth-child(even) td {  
    background-color: #EFEFEF;  
  }
body {
    color: white !important;
    background-color: black !important;
}