h1 {
    color: lightsalmon !important;
}
h2 {
    color: lightskyblue !important;
}
table {
    color: white !important;
}
body {
    color: white !important;
    background-color: black !important;
}